
.section3 {
  margin: 10rem 5rem;
  transition: all .35s;
}
.item {
  display: flex;
}
.sec3 {
  margin: 5rem 1rem;
}
.section3 h2 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 3rem;
}

.section3 img {
  flex: auto;
  overflow: hidden;
}
.section3 img:hover {
  cursor:pointer;
  transform:scale(1.1);
  -o-transform:scale(1.1); 
  -moz-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transition: transform .35s;  
  -o-transition: transform .35s;
  -moz-transition: transform .35s;
  -webkit-transition: transform .35s;
}
.section3 h3 {
  text-align: left;
  line-height: 2.5rem;
  font-weight: 600;
}
.section3 p {
  line-height: 1.5rem;
}

/* section3 반응형 */
@media screen and (min-width:800px) and (max-width:1400px) {
  .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .section3 > img {
    /* width: 1000px; */
    width: 100%;
  }
}
@media screen and (max-width:800px) {
  section, .item {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
  }
}