
.section3 {
  margin: 10rem 5rem;
  transition: all .35s;
}
.sec3__inner {
  display: flex;
  width: ;
}
.sec3 {
  margin: 5rem 1rem;
}
.section3 h2 {
  font-size: 1.3rem;
  font-weight: 600;
}

.section3 img {
  flex: 1;
  overflow: hidden;
  object-fit: contain;
}
.section3 img:nth-child(1){
  width: 39rem;
  height: 56rem;
}
.section3 img:nth-child(2){
  width: 28rem;
  height: 32rem;
}
.section3 img:nth-child(3){
  width: 39rem;
  height: 43rem;
}
.section3 img:nth-child(4){
  width: 39rem;
  height: 56rem;
}
.section3 img:hover {
  cursor:pointer;
  transform:scale(1.1);
  -o-transform:scale(1.1); 
  -moz-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transition: transform .35s;  
  -o-transition: transform .35s;
  -moz-transition: transform .35s;
  -webkit-transition: transform .35s;
}
.section3 h3 {
  text-align: left;
  line-height: 2.5rem;
  font-weight: 600;
}
.section3 p {
  line-height: 1.5rem;
}

/* section3 반응형 */
@media screen and (min-width:800px) and (max-width:1400px) {
  .sec3__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .sec3 img {
    width: 100%;
  }
}
@media screen and (max-width:800px) {
  .section3, .sec3__inner {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
  }
  .sec3 {
    align-items: center;
  }
}