body {
  max-width: 1920px;
  text-decoration: none;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
}
html {
  font-size: 10px; 
}

/* section1 */
.section1 {
  height: 60rem;
  text-align: center;
}
.title {
  line-height: 5rem;
}
.title-sm {
  font-weight: 700;
}
.title-big {
  font-size: 2rem;
  font-weight: 900;
}
.item {
  display: flex;
  justify-content: center;
  align-items: center; /* flex-start */
  translate: 0 5% 0 0;
}
.item img {
  width: 20rem;
  height: 20rem;
  margin: 5rem 3rem;
}
.bold {
  display: block;
  line-height: 3rem;
  font-weight: bold;
}
.item p {
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

@media screen and (min-width:800px) and (max-width:1200px) {
  .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .section2 > img {
    width: 1000px;
  }
}
@media screen and (max-width:800px) {
  section, .item {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

/* section2 */
.section2 > img {
  width: 1920px;
  height: 20rem;
  margin: 0 10rem;
  object-fit: cover;
}
.over {
  line-height: 5rem;
  transform: translate(20%, -120%);
  color: white;
}
.section2 h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.section2 p {
  font-size: 2rem;
  font-weight: 700;
}
a {
  width: 10rem;
  height: 4rem;
  padding: 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  transition: all 0.2s;
  box-sizing: border-box;
}
button {
  /* background-color:transparent; */
  color: inherit;
}
.researchBtn:hover {
  color: black;
  background-color: white;
}

