body {
  max-width: 1920px;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
}
html {
  font-size: 10px; 
}

/* section1 */
.section1 {
  height: 60rem;
  text-align: center;
}
.title {
  line-height: 5rem;
}
.title-sm {
  font-weight: 700;
}
.title-big {
  font-size: 2rem;
  font-weight: 900;
}
.sec1__inner {
  display: flex;
  justify-content: center;
  align-items: center; /* flex-start */
  translate: 0 5% 0 0;
}
.sec1__inner img {
  flex: 1;
  /* width: 20rem; */
  height: 20rem;
  margin: 5rem 3rem;
}
.sec1__h-text {
  display: block;
  line-height: 3rem;
  font-weight: bold;
}
.sec1__inner p {
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
}

@media screen and (min-width:800px) and (max-width:1200px) {
  .sec1__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
@media screen and (max-width:800px) {
  section, .sec1__inner {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
}

